
<h1 id="greeting">{{greeting}}</h1>

<br>
<section id="inputArea">
<form id="frmInput" action="http://54.213.219.47:3000/formSubmit" method="POST">
	<label id="lblDate">Date:</label>
		<input class="dataInput" id="txtDate" type="text" name="Date" value={{date}}><br>
	<label id="lblExercise">Exercise:</label>
		<input class="dataInput" id="txtExercise" type="text" name="Exercise" value=""><br>
	<label id="lblReps">Reps:</label>
		<input class="dataInput" id="txtReps" type="text" name="Reps" value=""><br>
	<label id="lblWeight">Weight:</label>
		<input class="dataInput" id="txtWeight" type="text" name="Weight" value=""><br>
	<label id="lblUnits">Units in Lbs.:</label>
		<input class="dataInput" id="optLbs" type="checkbox" name="units" value="Lbs" checked> (uncheck for Kgs)
	<!-- <button id="btnSubmit">Submit</button>	-->
	<input id="btnSubmit" type="submit" name="Submit">
</form>

</section>
<section id="outputArea">
<table id="tblOutput">
	{{results}}
</table>
<ul>
  {{#each results}}
    <li>{{this.name}}: {{this.value}}
  {{/each}}
</ul>
</section>
<script src="js/home.js"></script>

