<h1>You sent the following data in a POST request:</h1>
<table>
	{{#each results}}
		<tr>
			<td>{{this.exercise}} </td>
			<td>{{this.reps}} </td>
			<td>{{this.weight}} </td>
			<td>{{this.date}} </td>
			<td>{{this.lbs}} </td>
		</tr>
	{{/each}}
</table>