<h1>You sent the following data in a POST request:</h1>

<table>
	{{#each results}}
		<tr>
			<td>{{this.results.exercise}} </td>
			<td>{{this.results.reps}} </td>
			<td>{{this.results.weight}} </td>
			<td>{{this.results.date}} </td>
			<td>{{this.results.lbs}} </td>
		</tr>
	{{/each}}
</table>